<header>
<!--div class="bg-dark"-->
<!--style="margin-left": 10px; padding: 10px; -->
<!--nav class= "navbar nav justify-content-center" tabindex="0"-->
  <img src="../assets/images/logo.jpg" alt="logo" class= "logo">
 <!--div role="menubar"-->
<div class="container">
 <nav>
  <ul>
 <li><a class="active" href="Staff and members.html" >Staff and members</a></li>
<li><a href="Server.html">Server</a></li>
 <li><a href="Community.html">Community</a></li>
  </ul>
</nav>

</div>
</div>
</nav>
  </div>
  </div>
  </header>