<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a href="{{ '/index.html' | prepend: site.baseurl }}"class="navbar-brand">
  <img src="../assets/images/logo2.jpg" alt="blindcraft logo" class= "logo" width="150em">
      </a>
  <button class=" navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
    <span class= "navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu" >
   <ul class="navbar-nav ml-auto" role="menubar">
 <li><a class="nav-item" href="Staff and members.html"class= "nav-link">Staff and members</a></li>
<li><a href="Community.html">Community</a></li>
 <li><a href="Server.html">Server</a></li>
</ul>
</div>
</nav>
  </header>