<div class="container-fluid topnav bg-light" style="margin-left": 10px; padding: 10px;">
<nav class="main-nav" tabindex="0">
 <img style="float:left" src="../assets/images/logo.jpg" alt="Blindcraft logo" width="70">
 <div class=”menu-bar” role="menubar">
  <a class="active" href="Staff and members.html" style="display: inline;">Staff and members</a>
  <a href="Server.html" style="display: inline;"> Server</a>
  <a href="Community.html"style="display: inline;">Community</a>
</div>
</div>
</nav>
  </div>