.mybackground {
background: #b5c6e4;
font-family: 'Noto Sans JP', sans-serif;
}

body {
    margin-left: auto;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
}

.logo{
    float: left;
    padding: 10px 0;
}

nav li{
    display:inline-block;
    margin-left: 30px;
    padding-top: 25px;
    }

    nav a{
        color: rgb(71, 4, 255);
        text-transform: uppercase;
    }

    .dropdown-backdrop {
        position: static;
    }

    .navbar-collapse.collapse.show {
        background: #FFF;
    }

    .navbar-nav .nav-item .nav-link {
        color: #000;
    }
    
    .wrapper-full-page .navbar .nav-link i {
        top: 10px;
    }
