.mybackground {
background-color: #b5c6e4;
font-family: serif;
}

body {
    margin-left: auto;
    font-family: serif;
    font-weight: 300;
}

.logo {
    float: left;
    padding: 10px 0;
}

nav li {
    display:inline-block;
    margin-left: 30px;
    padding-top: 25px;
    }

    nav a {
        color: rgb(255, 255, 255);
        text-transform: uppercase;
    }

  
      #footer-content {
        background: rgb(54, 54, 54);
        color: white;
      }

      .container {
          max-width: 60rem;
          margin: 0 auto;
      }

      .center{
        height: 100%;
        display: flex;
        align-items: center;     
        justify-content: center;
        padding-top: 10px;
      }