.mybackground {
background: #b5c6e4;
font-family: serif;
}

body {
    margin-left: auto;
    font-family: serif;
    font-weight: 300;
}

.logo {
    float: left;
    padding: 10px 0;
}

nav li {
    display:inline-block;
    margin-left: 30px;
    padding-top: 25px;
    }

    nav a {
        color: rgb(255, 255, 255);
        text-transform: uppercase;
    }

    
